:root {
  --ss-lightest: #fff2ff;
  --ss-lighter: #ffc2c4;
  --ss-light: #f4a9ba;
  --ss-main: #d18f9f;
  --ss-dark: #9e6b85;
  --ss-darker: #5f4c67;
  --ss-darkest: #28202b;
}

body {
  background-color: var(--ss-darkest);
  color: var(--ss-lightest);
}
