@import "./theme.css";

body {
  background-color: var(--ss-whiteBlue);
  color: var(--ss-blackBlue);
  margin: 0px;
  padding: 0px;
}

.actionButton {
  background-color: var(--ss-main);
  color: var(--ss-darkest);
  border: none;
  border-radius: 5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: all 1s;
}

.actionButton:hover {
  background-color: var(--ss-light);
  color: black;
  scale: 1.1;
  box-shadow: 0 0 0.66rem var(--ss-darker);
  transition: all 0.06s;
}

.card {
  background-color: var(--ss-darker);
  font-size: 1.4ch;
  margin-top: 1.5rem;
  margin-left: 0rem;
}

.card2 {
  background-color: var(--ss-darker);
  font-size: 1.4ch;
  margin-top: 1.5rem;
  margin-left: 0rem;
}
/* border: 1px solid red; */
