@import "./theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  background-color: var(--ss-whiteBlue);
  color: var(--ss-blackBlue);
  margin: 0px;
  padding: 0px;
}

.actionButton {
  background-color: var(--ss-blue);
  color: var(--ss-blackBlue);
  transition: all 0.6s;
  transition-timing-function: ease-in;
}

.actionButton:hover {
  background-color: var(--ss-blue2);
  color: black;
  box-shadow: 0 0 0.3rem var(--ss-blue2);
  transition: all 0.03s;
  transition-timing-function: ease-in;
}
