:root {
  --ss-whiteBlue: #f2eeff;
  --ss-blue: rgba(154, 156, 245, 1);
  --ss-blue2: rgba(103, 165, 245, 1);
  --ss-orange: rgba(228, 134, 49, 1);
  --ss-darkerBlue: rgba(58, 65, 92, 1);
  --ss-blackBlue: rgba(46, 48, 69, 1);
  /* use just weight 300 and 200 to normal font
        200 to italic 
        700 to bold and bold italic*/
  margin: 0px;
  padding: 0px;
}
