.accordion {
  width: fit-content;
  height: fit-content;
  max-height: 35rem;
}

.card {
  width: 16rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.cardHeader {
  padding: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: left;
  height: 7rem;
}

.sectionHeader {
  max-width: 15rem;
  font-weight: 800;
  font-size: 2ch;
}

.toGrow {
  flex-grow: 1;
  border: 1px solid green;
}

.fromGrow {
  background-color: gray;
  border: 1px solid black;
  height: 50%;
}

.card2 {
  width: 16rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.fromGrow2 {
  border: 1px solid black;
  height: 100%;
}
